* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(88, 155, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* BUTTON AND INPUT */
button{
    padding: 5px;
    background-color: rgb(56, 230, 40);
    border: none;
    border-radius: 2px;
    margin-right: 5px;
}

input{
    margin-top: 20px;
    display: inline;
    max-width: 50px;
   padding: 5px;
    border: solid 2px rgb(255, 255, 255);
    background-color: rgb(56, 230, 40);
    border-radius: 2px;
}

p{
    display: inline;
}
.invisible {
    display: none;
}