<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Mydoro</title>
</head>

<body>
    <h1>Pomodoro Time</h1>

    <svg class="progress-ring" height="120" width="120">
        <circle class="progress-ring__circle" stroke="white" stroke-width="8" fill="transparent" r="44" cx="60"
            cy="60" />
    </svg>

    <h1 id="current-time"> 00 : 00</h1>

    <div class="options">
        <button id="start">START</button>
        <!-- <button>RESTART</button> -->
        <button id="cancel">CANCEL</button>
    </div>
    <div>
        <input type="number" min="0" id="hours" value="0">
        <p>:</p>
        <input type="number" min="0" id="min" value="0">
        <p>:</p>
        <input type="number" min="0" id="sec" value="10">
    </div>

    <audio src="./ring.wav" autostart="false" width="0" height="0" id="ring" enablejavascript="true">

        <script>
            // ring
            const circle = document.querySelector('.progress-ring__circle');
            const radius = circle.r.baseVal.value;
            const circumference = radius * 2 * Math.PI;
            circle.style.strokeDasharray = `${circumference} ${circumference}`;
            circle.style.strokeDashoffset = circumference;
            // setup
            const curTime = document.getElementById('current-time')
            const sound = document.getElementById('ring')
            const startBtn = document.getElementById('start')
            const cancelBtn = document.getElementById('cancel');
            let running = false;
            // import inputs
            const hoursInput = document.getElementById('hours');
            const minutesInput = document.getElementById('min');
            const secondsInput = document.getElementById('sec');


            function setProgress(percent) {
                const offset = circumference - percent / 100 * circumference;
                circle.style.strokeDashoffset = offset;
            }

            function Timer(timeSecs, dispEl) {
                const timeMilli = timeSecs * 1000
                let currentTime = timeSecs

                let timeInt = setInterval(() => {
                    currentTime -= 1;
                    let currentPerc = Math.round(currentTime / timeSecs * 100);
                    console.log(currentPerc)
                    let dispTime = `${Math.floor(currentTime / 60).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false })} : ${Math.round(currentTime % 60).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false })}`
                    if (currentTime > 0) {
                        setProgress(currentPerc);
                        dispEl.textContent = dispTime;
                    } else {
                        setProgress(0)
                        dispEl.textContent = "00 : 00"
                        sound.play();
                        clearInterval(timeInt)
                        startBtn.textContent = "START"
                        running= false
                    }
                }, 1000)

            }

            function startStopHandler() {
                let timeToStart = 0;
                if (!running) {

                    timeToStart = (hoursInput.value * 60 * 60) + (minutesInput.value * 60) + (secondsInput.value)
                    Timer(timeToStart, curTime)
                    running = true;
                    startBtn.textContent = "STOP"
                }
                if (running) {
                    clearInterval(timeInt)
                }



            }

            setProgress(100)
            startBtn.addEventListener('click', startStopHandler)
        </script>
</body>

</html>